<%= form_for [:admin, @user], remote: true do |f| %>
  <div id="errors"></div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.radio_button :is_female, false %>
    <%= f.label :nam, "Nam" %>
    <%= f.radio_button :is_female, true %>
    <%= f.label :nu, "Nữ" %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br />
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
