<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "ID") %></th>
        <th><%= sort_link(@q, :email, "Email") %></th>
        <th><%= sort_link(@q, :name, "Name") %></th>
        <th>Sex</th>
        <th>Date of birth</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Updated at</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="user-list">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
