<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.email, admin_user_path(user.id), remote: true %></td>
  <td><%= user.name %></td>
  <td><%= user.is_female ? "Nữ" : "Nam" %></td>
  <td><%= user.date_of_birth.strftime("%d/%m/%Y") %></td>
  <td><%= user.phone %></td>
  <td><%= user.address %></td>
  <td><%= time_ago_in_words user.updated_at %></td>
  <td><%= link_to "delete", admin_user_path(user.id), method: :delete, data: {confirm: "you sure?"} %></td>
</tr>
